---
name: Shell
on:
  pull_request:
    paths:
      - "**.sh"
      - ".github/workflows/*"

jobs:
  lint-format:
    name: Lint & Format
    # These permissions are needed to:
    # - Checkout the Git repo (`contents: read`)
    # - Post a comments on PRs: https://github.com/luizm/action-sh-checker#secrets
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Extract workflow shell scripts
        id: extract
        uses: beacon-biosignals/gha-extract-shell-scripts@v1
      - uses: luizm/action-sh-checker@17bd25a6ee188d2b91f677060038f4ba37ba14b2  # v0.9.0
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          sh_checker_comment: true
      # Support investigating linting/formatting errors
      - uses: actions/upload-artifact@v5
        if: ${{ failure() }}
        with:
          name: workflow-scripts
          path: ${{ steps.extract.outputs.output-dir }}
