---
name: Target Workflow
on:
  workflow_dispatch: {}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - run: |
          jq -n \
              --argjson run_id "${{ github.run_id }}" \
              --argjson run_attempt "${{ github.run_attempt }}" \
              '$ARGS.named' >build.json
          jq <build.json
      - uses: actions/upload-artifact@v6
        with:
          name: build
          path: build.json

  # Keep the workflow running to validate the action waits on job completion and not
  # workflow completion.
  post-build:
    name: Post Build
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: sleep 60
